<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org>">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="jumbotron">
        <center>
            <h1 th:text="${helloMessage}"/>
        </center>
    </div>
</head>
<body>
<h1></h1>
<div class="container">
    <div class="list-group">
        <div th:if="${ #lists.isEmpty(posts)}">
            <table class="table table-striped">
                <tr>
                    <th>
                        <div style="text-align: center;"><h3 th:text="${noContent}"/></div>
                    </th>
                </tr>
            </table>
        </div>
        <div th:if="${not #lists.isEmpty(posts)}">
            <table class="table table-striped">
                <tr>
                    <th style="text-align: center;">Author</th>
                    <th style="text-align: center;">Date created</th>
                    <th style="text-align: center;">Date last modified</th>
                    <th style="text-align: center;">Content</th>
                    <th style="text-align: center;">Remove</th>
                    <th style="text-align: center;">ID</th>
                </tr>
                <tr th:each="post : ${posts}">

                    <td style="text-align: center;" th:text="${post.author}"></td>
                    <td style="text-align: center;" th:text="${post.dateCreated}"></td>
                    <td style="text-align: center;" th:text="${post.dateLastModified}"></td>
                    <td style="text-align: center;" th:text="${post.content}"></td>
                    <td style="text-align: center;">
                        <form action="#" th:action="@{'/deletePosts/{id}'(id=${post.id})}" th:method="delete">
                            <input type="hidden" name="_method" value="delete"/>
                            <button type="submit" id="submitButton"><i class="fa fa-trash"></i></button>
                        </form>
                    </td>
                    <td th:text="${post.id}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<h3 style="text-align: center;">Add new post</h3>

<form method="post"   th:object="${posts}" th:action="@{/savePost}">
    <div class="form-row">
        <div class="form-group col-md-6">
            <input type="text" class="form-control" id="inputAuthor" placeholder="Author"
                   th:field="${post.author}"/>
        </div>
        <div class="form-group col-md-6">
            <input type="text" class="form-control" id="inputContent" placeholder="Content"
                   th:field="${post.content}"/>
        </div>
    </div>
    <div style="text-align: center;">
        <p th:text="${message}"/>
    </div>
    <div style="text-align: center;">
        <button id="saveButton" type="submit" class="btn btn-dark">Add post</button>
    </div>
</form>
</div>
<h3 style="text-align: center;">Edit post by ID</h3>
</div>
<form action="#" th:action="@{'/updatePosts/{id}'(id=${post.id})}" style="text-align: center;" th:object="${posts}"
      th:method="put">
    <center>
        <div style="text-align: center;" class="form-group col-md-6">
            <label for="inputID">ID</label>
            <input type="number" class="form-control" id="inputID" placeholder="ID"
                   th:field="${post.id}"/>
        </div>
    </center>
    <center>
        <div style="text-align: center;" class="form-group col-md-6">
            <label for="inputContent2">Content</label>
            <input type="text" class="form-control" id="inputContent2" placeholder="New content"
                   th:field="${post.content}"/>
        </div>
    </center>
    <button type="submit" id="updateButton" class="btn btn-dark">Update post</button>
    <p th:text="${updateMessage}"/>
</form>
<div>
    <form action="#" style="text-align: center;" th:action="@{/deleteAll}" th:method="delete">
        <input type="hidden" name="remove" value="delete"/>
        <button class="btn btn-dark"><i class="fa fa-trash"></i> Remove all</button>
    </form>
</div>
</div>

<!--Optional JavaScript-->
<!--jQuery first, then Popper.js, then Bootstrap JS-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>